.btn {
    cursor: pointer;
}

.btn-login {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.btn-back {
    text-decoration: none;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 183px;
    z-index: 4;
}

.pagination__button {
    color: #fff;
    border: none;
    border-radius: 32px;
    width: 32px;
    height: 32px;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
    background-color: #D6D6D6;

}

.pagination__prev:hover,
.pagination__next:hover {
    background-color: #000000;
}

.pagination__prev {
    left: -10px;
}

.pagination__next {
    right: -10px;
}

.btn-view-more {
    padding: 10px 14px;
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    background-color: var(--Colors-state-text-strong-950);
    color: white;
}
.btn-primary, .btn-outline {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.btn-outline {
  max-width: 172px;
  height: 40px;
  padding: 10px 14px;
  gap: 8px;
  border: 1px solid var(--Colors-state-Information-base);
  border-radius: 8px;
  background-color:  #B2DDFF80;
  color: var(--Colors-state-Information-base);
}

.btn-primary {
    max-width: 172px;
    height: 40px;
    padding: 10px 14px;
    gap: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--Colors-state-Information-base); /* Original color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth background and slight scale on hover */
  }
  
  .btn-primary:hover {
    background-color: rgba(0, 123, 255, 0.9); /* Subtle color change, adjust for your theme */
    transform: scale(1.02); /* Slight increase in size on hover */
  }
  

.btn-view-shop {
    border: 1px solid var(--Colors-state-stroke-soft-200)
}
