.pagination-container {
    display: flex;
    align-items: center;
  }
  
  .pagination-container button {
    border: 1px solid var(--Colors-state-stroke-soft-200);
    background-color: transparent;
    padding: 6px 10px;
    cursor: pointer;
    color: #000;
    transition: background-color 0.2s ease;
    height: 32px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-container .active-page {
    background-color: #F9FAFB;
    pointer-events: none;
  }
  
  .pagination-container .dots-item {
    cursor: default;
    border: none;
    background-color: transparent;
  }
  
  .pagination-container button:hover:not(.active-page):not(.dots-item) {
    background-color: #F3F4F6
  }
  
  .pagination-container button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .prev-double-btn {
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    font-size: 18px;
  }
  .prev-btn, .next-btn {
    font-size: 18px;
  }

  .next-double-btn {
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    font-size: 18px;
  }
  