/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --Colors-state-Blue-light-lighter: #F0F9FF;
    --Colors-state-Information-base: #2E90FA;
    --Colors-state-error-base: #F04438;
    --Warning-50:#FEDF89;
    --Warning-500:#F79009;
    --Colors-state-text-strong-950:#0D121C;
    --Colors-state-text-soft-400:#9DA4AE;
    --Colors-state-stroke-soft-200:#F3F4F6;
}

/* Container */
.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Flexbox Utilities */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-center {
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Margin Utilities */
.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* Padding Utilities */
.p-0 {
    padding: 0;
}

.px-1 {
    padding: 0 .5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.py-9 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.pb-0 {
    padding-bottom: 0;
}

/* Text Utilities */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Background Utilities */
.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-light {
    background-color: #f4f4f4;
}

/* Button Utilities */
.btn {
    cursor: pointer;
}


.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

/* Position Utilities */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* Width Utilities */
.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

/* Gap Utilities */
.gap-1 {
    gap: 4px;
    /* Khoảng cách 4px */
}

.gap-2 {
    gap: 8px;
    /* Khoảng cách 8px */
}

.gap-10 {
    gap: 10px
}

.gap-3 {
    gap: 12px;
    /* Khoảng cách 12px */
}

.gap-4 {
    gap: 16px;
    /* Khoảng cách 16px */
}

.gap-5 {
    gap: 20px;
    /* Khoảng cách 20px */
}

.gap-6 {
    gap: 24px;
    /* Khoảng cách 20px */
}

.gap-8 {
    gap: 32px;
}

/* Flexbox Gap Utility */
.flex-gap-1 {
    display: flex;
    gap: 4px;
    /* Khoảng cách 4px cho flex */
}

.flex-gap-2 {
    display: flex;
    gap: 8px;
    /* Khoảng cách 8px cho flex */
}

.flex-gap-3 {
    display: flex;
    gap: 12px;
    /* Khoảng cách 12px cho flex */
}

.flex-gap-4 {
    display: flex;
    gap: 16px;
    /* Khoảng cách 16px cho flex */
}

.flex-gap-5 {
    display: flex;
    gap: 20px;
    /* Khoảng cách 20px cho flex */
}

/* Grid Gap Utility */
.grid-gap-1 {
    display: grid;
    gap: 4px;
    /* Khoảng cách 4px cho grid */
}

.grid-gap-2 {
    display: grid;
    gap: 8px;
    /* Khoảng cách 8px cho grid */
}

.grid-gap-3 {
    display: grid;
    gap: 12px;
    /* Khoảng cách 12px cho grid */
}

.grid-gap-4 {
    display: grid;
    gap: 16px;
    /* Khoảng cách 16px cho grid */
}

.grid-gap-5 {
    display: grid;
    gap: 20px;
    /* Khoảng cách 20px cho grid */
}

.underline {
    text-decoration: underline;
}


.w-full {
    width: 100% !important;
    max-width: 100% !important;
}